!!! 5
%html.no-js{ :lang => "en" }
  %head
    %title Be Responsive - Responsive Web Melbourne
    %meta{:charset => "utf-8"}
    %meta{:content => "Responsive Web Melbourne is for people of all sectors and backgrounds from business analyst to designer, developer to project manager  - our meetups are inclusive and not focused only on the technical side.", :name => "description"}
    %meta{:content => "on", "http-equiv" => "cleartype"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width", :name => "viewport"}/
    = stylesheet_link_tag "application"

    = javascript_include_tag("head")
    :javascript
      WebFont.load({
        google: { families: [ 'Montserrat:400,700', 'Open+Sans:400,300,600' ] },
        custom: {families: ['icomoon'], urls: ['#{root_app_path}stylesheets/fonts.css']}
      });


  %body
    %header
      .container
        .row
          .span12
            %h1.logo-beresponsive Be Respsonsive

 
        #intro.row
          .span12
            %p.lead
              Responsive Web Melbourne is for people of all sectors and backgrounds
              %br
              from business analyst to designer, developer to project manager.
            %p Our meetups are inclusive and not focused only on the technical side.


    %section.event-info
      .container
        .row
          .span2.offset1
            .event-info__box
              %h4.event-info__box-title--main Next Event

          .span2
            .event-info__box.icon-calendar
              %h4.event-info__box-title Date
              %p.event-info__box-description 
                11th June 2013

          .span2
            .event-info__box.icon-clock
              %h4.event-info__box-title Time
              %p.event-info__box-description 6.30pm

          .span5
            .event-info__box.icon-location
              %h4.event-info__box-title Venue
              %p.event-info__box-description 
                Traffic, 134 Gwynne St
                
                Richmond

          -#.event-info__box-register.span3.offset1
            = link_to "Register Now", register_url, :target => "_blank", :class => "btn"


  %section
    .container
      
      %h2.section-title Presentations

      .row
        .span2.visible-desktop
          = image_tag "avatars/zendy-wongso.jpg", :alt => "Zendy Wongso"
        .span9
          %h4 The Current State of the Web
          %h5 Presented by Zendy Wongso
          %p Zendy is a Frontend Developer at Interact Creative and will provide us with some thoughts on current practices and methodologies that we use on the web, and what we need to learn and understand for the future.

      .row
        .span2.visible-desktop
          = image_tag "avatars/dave-sharpe.jpg", :alt => "Dave Sharpe"
        .span9
          %h4 The 'short' History of Responsive
          %h5 Presented by Dave Sharpe
          %p We have a timeline presentation by Dave from Visual Jazz - the Front End Lead at one of the foremost FED Agencies in Australia. His slides are great and give a really nice view of how far the Responsive Web has come since 2011... just a few short years, but loads has happened. If you want to get some inspiration for your own designs, get insight into how their projects were managed, how much they cost, and what technology they used - this one isn't to be missed!


      .row
        .span2.visible-desktop
          = image_tag "avatars/yuan-wang.jpg", :alt => "Yuan Wang"
        .span9
          %h4 Brave New World of Responsive Designing
          %h5 Presented by Yuan Wang
          %p Yuan is Digital Design Director at Traffic (also our host and sponsor) and will give us a unique insight into how to approach the creative design component of a responsive project.

  %section#sponsors
    .container
      %h2.section-title Sponsors.
      .row
        .span10.offset1
          .row-fluid
            .span4
              .sponsors-list__logo
                = link_to image_tag("logos/traffic.png", :alt => "Traffic"), "http://traffic.com.au/", :target => "_blank"
            .span4
              .sponsors-list__logo
                = link_to image_tag("logos/envato.png", :alt => "Envato"), "http://envato.com/", :target => "_blank"
            .span4
              .sponsors-list__logo
                = link_to image_tag("logos/responsive-web-design-weekly.png", :alt => "Responsive Web Design Weekly"), "http://responsivedesignweekly.com/", :target => "_blank"

  %section#register
    .container
      .row
        .span12
          %h5 Interested in attending?
          = link_to "Register Now", register_url, :target => "_blank", :class => "btn"

  

    =# render_partial 'shared/header'
    
    =# yield
    =# render_partial 'shared/venue'
    =# render_partial 'shared/presentations'
    =## render_partial 'shared/register'
    =## render_partial 'shared/sponsors'
  = render_partial 'shared/footer'

  =# javascript_include_tag("application")