%footer.main
  .container
    .row
      .span6
        = link_to "Be Respsonsive", root_app_path, :class => "logo-berespsonsive--white"
      .contact-link.span6
        = link_to "Twitter", twitter_url, :class => "icon-twitter"
        = link_to "Facebook", facebook_url, :class => "icon-facebook"
        = link_to "Linkedin", linkedin_url, :class => "icon-linkedin"
        = mail_to "Email", beresponsive_email, :class => "icon-mail"