%section
  .container
    %h2.section-title Presentations

    .row
      .span10
        %p
          As December is usually a festive season, for the next meetup we are going to do something different and a bit more relaxed at the same time. 
        %p
          The plan is to have 6 people to give a short talks about their "Responsive Experience" for about 5-7mins. It could be anything from your learning experiences, pain points, expectations for next year, or even your experience in using a particular responsive website. 
        %p
          After the talks we will move on to our usual discussion. We can ask questions to the speakers, each other, and add in our own opinions.

    .row.presentation
      .span2.hidden-phone

    .row.presentation
      .span2.hidden-phone
        = image_tag "avatars/ben-flanagan.jpg", :alt => "Ben Flanagan", :class => "presentation__avatar"
      .span9
        %h4.presentation__topic 1st slot
        %h5.presentation__presenter Ben Flanagan


    .row.presentation
      .span2.hidden-phone
        = image_tag "avatars/natalie-ann-wallis.jpg", :alt => "Natalie Ann Wallis", :class => "presentation__avatar"
      .span9
        %h4.presentation__topic 2nd slot
        %h5.presentation__presenter Natalie Ann Wallis


    .row.presentation
      .span2.hidden-phone
        = image_tag "avatars/erik-hallander.jpg", :alt => "Erik Hallander", :class => "presentation__avatar"
      .span9
        %h4.presentation__topic 3rd slot
        %h5.presentation__presenter Erik Hallander


    .row.presentation
      .span2.hidden-phone
        = image_tag "avatars/max-lyam.jpg", :alt => "Max Lynam", :class => "presentation__avatar"
      .span9
        %h4.presentation__topic 4th slot
        %h5.presentation__presenter Max Lynam


    .row.presentation
      .span2.hidden-phone
        = image_tag "avatars/joanne-lumsden.png", :alt => "Joanne Lumsden", :class => "presentation__avatar"
      .span9
        %h4.presentation__topic 5th slot
        %h5.presentation__presenter Joanne Lumsden


    .row.presentation
      .span2.hidden-phone
        = image_tag "avatars/you.png", :alt => "you!", :class => "presentation__avatar"
      .span9
        %h4.presentation__topic 6th slot
        %h5.presentation__presenter Currently no one, but this could be you!